* {
    box-sizing: border-box;
}

.header{
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    z-index: 999;
    background-color: white;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 0; */

}

.logo{
    position: relative;
    left: 0;    
    z-index: 1;
    top: 0;
    margin: 0 auto;
    height: 100%;

}


.logo img{
    position: relative;   
    max-height: 52px;
}

.headers_menu{
    height: 52px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-item a{
    white-space: nowrap;
}


.headers_menu> ul{
    width: 100%;
    height: 52px;
    float: left;
    margin:  0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}

.headers_menu>ul> li{
    /* float: left ; */
    position: relative;
    font-size: 15px;
    margin-right: 15px;

}

.headers_menu a{
    text-decoration: none;
    color: #16152e;
    font-weight: bold;
}

.headers_menu li a:hover{
    color: #04b2f7;
    border-style: none none solid none;
    border-color: #63cde9;
    padding-bottom: 15px;
}

.header_xuat_ban a{
    color: #04b2f7;
    border-style: none none solid none;
    border-color: #63cde9;
    padding-bottom: 15px;

}



.cagory_popup{
    position: absolute;
    z-index: 99;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.active{
    visibility: visible;
    opacity: 1;
}

.backdrop_active{
    content: ' ';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: calc(100vh - 52px);
    width: 100%;
    z-index: -1;
}

.menu_loai_bao{
    padding: 20px 20px;
    overflow: inherit;
    background-color: #16152e;
    padding-bottom: 54px;
}

.page_wrap{
    display: flex; 
    left: unset;
    flex-direction: column;
    max-width: 865px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    
} 

.menu_loai_bao ul{
    z-index: 999;
    display: -webkit-box ;
    display: -webkit-flex ;
    display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
}



.menu_loai_bao li{
    padding-bottom: 20px;
    width: 25%; 
    font-weight: bold;
    position: relative;
    font-size: 16px;
   
}
.menu_loai_bao a{
    text-decoration: none;
    color: white;
    
}

.menu_loai_bao li::before{
    content: "/ ";
    color: orangered;
    font-size: 18px;
    cursor: pointer;
}



.menu_kenh{
    padding: 1px 9px;
    width: 100%;
    background-color: #32313E;
    font-size: 13px;
    position: absolute;
    bottom: 0;
} 

.menu_kenh ul{
    padding: 0 200px;
    display: -webkit-box; 
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-wrap: wrap; 
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;

}

ul {
    list-style: none;
}


.headers_menu .more {
    width: 23px;
    height: 52px;
    cursor: pointer;
    position: relative;
    
}

.headers_menu .more .dot{
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -2px;
}
.headers_menu .more .dot::before{
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: -8px;
    /* margin-left: -2px; */
    margin-top: -2px;
}
.headers_menu .more .dot::after{
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 8px;
    /* margin-left: -2px; */
    margin-top: -2px;
}

