
 /* Reset CSS */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 .banner {
     position: relative;
     width: 100%;
     height: 400px;
     background-image: url('https://static.znews.vn/images/banner/travel/banner_travel_1_1.jpg'); /* Replace with your image URL */
     background-size: cover;
     background-position: center;
     color: #fff;
 }

 /* Overlay text styling */
 .overlay-text {
     position: absolute;
     bottom: 20px;
     left: 40%;
     transform: translateX(-50%);
     text-align: center;
     display: flex;
     gap: 10px;
     -webkit-text-stroke: 1px #fff;
     font-weight: 900;
 }

 /* Link styling in overlay text */
 .overlay-text a {

     font-size: 64px;
     letter-spacing: 2px;
     color: #fff;
     text-decoration: none;
     padding: 0 5px;
     letter-spacing: 5px;
     color: rgba(255, 255, 255, 0.3); 

 }

 .overlay-text .active-current{
    color: #ffffff;
}


 .overlay-text a:hover {
     color: #ffcc00; /* Hover color */
 }

 /* Bottom navigation */
 .bottom-nav {
     display: flex;
     justify-content: center;
     height: 50px;
     background-color: #f8f8f8;
     padding-top: 15px;
 }

 .bottom-nav a {
     margin: 0 15px;
     color: #333;
     text-decoration: none;
     font-size: 16px;
     
 }

 .bottom-nav a:hover {
     color: #04b2f7;
 }

 .bottom-nav .active-bottom-nav {
     color: #04b2f7;
    border-bottom: 3.5px solid #04b2f7;
    
 }

